@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
* {
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
}

body #app {
    background-color: white;
}

.column {
    padding: .75rem 2rem;
}

#bighead {
  display: none;
}

body #app {
    color: var(--text);
}

.media-left {
    margin-right: 0.5rem;
}
.card {
    margin-bottom: 1em;
}

body h2, body {
  font-family: 'Nunito', sans-serif;
}

body .card-content .image img,body .card-content .image{
    height: 2em;
    width: 2em;
}

body .card-content .media-content .title{
    margin-bottom: 1.4em;
    padding-bottom: 3px;
    padding-top: 3px;
}
body .card-content .media-content {
    padding-left: 5px;
}

body .card:hover .media-content .title {
    border-bottom: 1px solid #cccccc;
    /* background-color: #eeeeee; */
}
body #main-section h2.group-title {
    font-size: 1.7rem;
    border-bottom: 1px solid #cccccc;
    font-weight: 700;
}
body #app.theme-sui .card p.title,body #app.theme-sui .card:hover .title  {
    font-size: 1.5rem;
    font-weight: 300;
}


body #app .card:hover {
  transform: translateY(0px);
}
body #app .card {
  transform: translateY(0px);
}

body .card-content {
    height: 2rem;
}
